{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}

{% block body %}
<div data-controller="calendarMonthly" class="calendar-wrapper">
    <h1>Vue mois</h1>

    <div class="calendar-header">
        <button class="btn-nav-month btn-prev" data-month="{{ previous_month.id }}"><</button>
        <h2>{{ current_month_name }}</h2>
        <button class="btn-nav-month btn-next" data-month="{{ next_month.id }}">></button>
    </div>

    <div class="calendar">
        <div class="weekdays">
            {% for day in days_of_week %}
                <div>{{ day.nameWeekDay }}</div>
            {% endfor %}
        </div>

    <div class="days">
        {% for day in days_of_month %}
            <div class="day-cell">{{ day.format('j') }}</div>
        {% endfor %}
    </div>
</div>
{% endblock %}
